<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main-page.css') }}">
    <title>SGWEBWORKS</title>
</head>
<body>
    <div class="header">
        <div class="logo">
            <h1><span>SG</span>WEBWORKS</h1>
        </div>
        <div class="header-links">
            <div class="header-link-list">
                <a href=""><span>Início</span></a>
                <a href="">Serviços</a>
                <a href="">Portfólio</a>
                <a href="">Contactos</a>
            </div>
        </div>
    </div>

    <div class="hero-container">
        <div class="hero-left-container">
            <h1 class="hero-title">Lorem ipsum <br>dolor sit</h1>
            <h2 class="hero-text">Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit,<br> sed do eiusmod tempor.</h2>
            <button class="hero-button">Pedir Orçamento</button>
        </div>
        <div class="hero-right-container">
            <script type="module" src="https://unpkg.com/@splinetool/viewer@0.9.490/build/spline-viewer.js"></script>
            <spline-viewer url="https://prod.spline.design/Q5HrSgvHotzrf1GZ/scene.splinecode"></spline-viewer>
        </div>
        <div class="scroll-down-button"></div>
    </div>

    <div class="info-container">
        <div class="description-container">
            <h2 class="description-title"><span>SG</span>WEBWORKS</h2>
            <p class="description-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="services-container">
            <div class="services-title-container">
                <h2 class="services-title">Os nossos serviços</h2>
            </div>
            <div class="services-box-container">
                <div class="services-box">
                    <div class="services-image-container">
                        <img class="service-box-image" src="static\svgs\design.svg" alt="">
                    </div>
                    <div class="services-text-container">
                        <h3 class="service-box-title">Lorem ipsum</h3>
                        <p class="service-box-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    </div>
                </div>
                <div class="services-box">
                    <div class="services-image-container">
                        <img class="service-box-image" src="static\svgs\seo.svg" alt="">
                    </div>
                    <div class="services-text-container">
                        <h3 class="service-box-title">Lorem ipsum</h3>
                        <p class="service-box-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    </div>
                </div>
                <div class="services-box">
                    <div class="services-image-container">
                        <img class="service-box-image" src="static\svgs\code.svg" alt="">
                    </div>
                    <div class="services-text-container">
                        <h3 class="service-box-title">Lorem ipsum</h3>
                        <p class="service-box-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    </div>
                </div>
            </div>
            <button class="services-button">Saber mais</button>
        </div>
        <div class="portfolio-container">
            <div class="portfolio-title-container">
                <h2 class="portfolio-title">Alguns Trabalhos</h2>
            </div>
            <div class="portfolio-boxes-container">
                <div class="portfolio-box">
                    <div class="portfolio-image-box-container">
                        <img src="" alt="">
                    </div>
                    <h3 class="portfolio-box-title">Nome Site</h3>
                </div>
                <div class="portfolio-box">
                    <div class="portfolio-image-box-container">
                        <img src="" alt="">
                    </div>
                    <h3 class="portfolio-box-title">Nome Site</h3>
                </div>
                <div class="portfolio-box">
                    <div class="portfolio-image-box-container">
                        <img src="" alt="">
                    </div>
                    <h3 class="portfolio-box-title">Nome Site</h3>
                </div>

            </div>
            <button class="portfolio-button">Portfólio</button>
        </div>
    </div>

    <div class="footer-container">
        <div class="left-footer-container">
            <h2 class="footer-title">SGWEBWORKS</h2>
            <p class="footer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="middle-footer-container">
            <h2 class="footer-links">Links Úteis</h2>
            <a href="">Sobre nós</a>
            <a href="">Pedir orçamento</a>
            <a href="">Politica de privacidade</a>
            <a href="">Termos de serviços</a>
        </div>
        <div class="right-footer-container">
            <h2 class="footer-title-right">Contactos</h2>
            <p class="footer-text-right">Email: sgwebworks@gmail.com</p>
        </div>
    </div>



</body>
</html>